<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

<h4> <center>An Analysis of SAT and ACT Scores For College Admission </center></h4>
<h5> <center>Nelson Agus Kesuma </center></h5>

--- 
# <font color = 'Maroon'>Part 1

Part 1 requires knowledge of basic Python.

---

## <font color = 'Maroon'>Problem Statement

Due to the COVID-19 pandemic, many colleges have introduced test-optional policy for their admission requirement. It is seen as an avenue to promote diversity and equity on campuses by eliminating standardized testing for their admissions process. [[source]](https://www.urban.org/research/publication/how-test-optional-college-admissions-expanded-during-covid-19-pandemic)

As an education advisor for my beloved students, this project aims to provide better visibility and directions for college application processes by analysing the following aspects:
- The current practices of test-optional policies among colleges and universities in the U.S.
- An in-depth analysis of SAT and ACT scores with respect to college acceptance rates
- An in-depth analysis of SAT and ACT scores correlated to intended college majors
- SAT scores correlation to students' GPA to determine if SAT score matters

### <font color = 'Maroon'>Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## <font color = 'Maroon'>Background

The SAT and ACT are standardized tests that many colleges and universities in the United States require for their admissions process. This score is used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university.

The SAT has two sections of the test: Evidence-Based Reading and Writing and Math ([*source*](https://www.princetonreview.com/college/sat-sections)). The ACT has 4 sections: English, Mathematics, Reading, and Science, with an additional optional writing section ([*source*](https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html)). They have different score ranges, which you can read more about on their websites or additional outside sources (a quick Google search will help you understand the scores for each test):
* [SAT](https://collegereadiness.collegeboard.org/sat)
* [ACT](https://www.act.org/content/act/en.html)

Standardized tests have long been a controversial topic for students, administrators, and legislators. Since the 1940's, an increasing number of colleges have been using scores from sudents' performances on tests like the SAT and the ACT as a measure for college readiness and aptitude ([*source*](https://www.minotdailynews.com/news/local-news/2017/04/a-brief-history-of-the-sat-and-act/)). Supporters of these tests argue that these scores can be used as an objective measure to determine college admittance. Opponents of these tests claim that these tests are not accurate measures of students potential or ability and serve as an inequitable barrier to entry. Lately, more and more schools are opting to drop the SAT/ACT requirement for their Fall 2021 applications ([*read more about this here*](https://www.cnn.com/2020/04/14/us/coronavirus-colleges-sat-act-test-trnd/index.html)).

As such, this project aims to better guide prospective freshmen in positioning themselves with regards to their college admissions.

### <font color = 'Maroon'>Datasets

* [`sat_2019_by_intended_college_major.csv`](./data/sat_2019_by_intended_college_major.csv): 2019 SAT Scores by Intended College Major
  
  This dataset outlines the 2019 SAT scores by intended college major. It consists of multiple attributes including the intended college major, mean SAT scores for both ReadingWriting and Math subjects and other demographics such as number of test takers and percentage of students applying for each college major. Also, a number of intended college majors were surveyed and collected.
* [`sat_act_by_college.csv`](./data/sat_act_by_college.csv): Ranges of Accepted ACT & SAT Student Scores by Colleges
    
    The dataset generates a number of colleges/universities in the U.S. ordered by their acceptance rate and their test-optional policy along with the number of applicants, acceptance rate as well as the SAT and ACT 25th-75th percentile total scores.
    
* [`gpa_by_UC_college.csv`](./data/gpa_by_UC_college.csv): Ranges of Accepted Student GPA by all University of California campuses [[source]](https://admission.universityofcalifornia.edu/campuses-majors/freshman-admit-data.html)
    
    This dataset describes the admitted student GPA for each UC campus for fall 2021 and was collected by UC freshman admission staffs.

### <font color = 'Maroon'>Outside Research

According to Lovell and Mallinson (2022), the COVID-19 pandemic has induced numerous colleges and universities to implement test-optional admission policies. It was implemented out of safety measures during the pandemic. However, pre-pandemic era has seen various colleges and universities practiced this policy as a way to promote diversity and equity on campus. [[source]](https://www.urban.org/research/publication/how-test-optional-college-admissions-expanded-during-covid-19-pandemic) This includes the optional submission for SAT and ACT scores for students university admission. (Bhardwa, 2022) [[source]](https://www.timeshighereducation.com/student/advice/what-does-test-optional-mean-us-university-applications). In addition, the number of universities and colleges with test-optional policies has nearly doubled from 713 to 1,350 since spring 2020. Therefore, many universities are inching towards the test-optional admission requirement as part of the new normal. Also, it could also lead to a more diverse pool of applicants. (Lovell and Mallinson, 2022)


Research has also shown that GPA or grades are the best predictor of college performance and are not as heavily influenced as standardized exams by socioeconomic backgrounds such as income, parent education levels and race. (Kurlaender and Cohen, 2019) [[source]](https://edpolicyinca.org/publications/predicting-college-success-how-do-different-high-school-assessments-measure-2019). To validate the statement, a number of university-admitted student GPAs have been collected and inputted manually to the csv file as attached above. Due to data availability constraint, only student GPAs admitted to University of California campuses were collected to be investigated. [[source]](https://admission.universityofcalifornia.edu/campuses-majors/freshman-admit-data.html). This dataset will be used to understand the correlation between GPA and SAT scores particularly for UC universities.

### <font color = 'Maroon'>Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [327]:
def mean_calculation(list_of_numbers):
    if len(list_of_numbers) ==0:
        return 0
    else:
        return sum(list_of_numbers) / len(list_of_numbers)

mean_calculation([20, 54, 12, 20, 10, 27, 16, 14, 30, 40])

24.3

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [328]:
def std_deviation_calculation(list_of_numbers):
    if len(list_of_numbers) ==0:
        return 0
    else:
        variance = sum([((x- mean_calculation(list_of_numbers))**2) for x in list_of_numbers]) / len(list_of_numbers)
        return variance ** 0.5

std_deviation_calculation([20, 54, 12, 20, 10, 27, 16, 14, 30, 40])

13.176114753598648

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [329]:
def data_cleaning(number_string):
    if not number_string.endswith("%"):
        return "Please input %"
    else:
        number_string = number_string.replace("%","")
        return float (number_string)/100

data_cleaning("30.5%")

0.305

--- 
# <font color = 'Maroon'>Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [330]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## <font color = 'Maroon'>Data Import and Cleaning

### <font color = 'Maroon'>Import and Display first 5 rows of each dataframe

In [331]:
sat_college_major_df = pd.read_csv('../data/sat_2019_by_intended_college_major.csv')
sat_college_df = pd.read_csv('../data/sat_act_by_college.csv')
gpa_uc_college_df = pd.read_csv('../data/gpa_by_UC_college.csv')

sat_college_major_df.head()

,IntendedCollegeMajor,TestTakers,Percent,Total,ReadingWriting,Math
0,"Agriculture, AgricultureOperations, and Relate...","24,913",1%,977,496,481
1,Architecture and Related Services,"28,988",2%,1047,520,527
2,"Area, Ethnic, Cultural, and Gender Studies","2,629",0%,1040,536,504
3,Biological and Biomedical Sciences,"155,834",8%,1139,572,566
4,"Business, Management, Marketing, and Related S...","221,523",12%,1072,534,537

In [332]:
sat_college_df.head()

,School,Test Optional?,Applies to Class Year(s),Policy Details,Number of Applicants,Accept Rate,SAT Total 25th-75th Percentile,ACT Total 25th-75th Percentile
0,Stanford University,Yes,2021,Stanford has adopted a one-year test optional ...,47452,4.3%,1440-1570,32-35
1,Harvard College,Yes,2021,Harvard has adopted a one-year test optional p...,42749,4.7%,1460-1580,33-35
2,Princeton University,Yes,2021,Princeton has adopted a one-year test optional...,35370,5.5%,1440-1570,32-35
3,Columbia University,Yes,2021,Columbia has adopted a one-year test optional ...,40203,5.5%,1450-1560,33-35
4,Yale University,Yes,2021,Yale has adopted a one-year test optional poli...,36844,6.1%,1460-1570,33-35

In [333]:
gpa_uc_college_df.head()

,School,High School GPA of middle 25%-75% students
0,University of California Berkeley,4.12-4.30
1,University of California Davis,3.95-4.25
2,University of California Irvine,3.96-4.26
3,University of California Los Angeles,4.19-4.32
4,University of California Merced,3.39-4.00

### <font color = 'Maroon'>Check for Missing Values

In [334]:
sat_college_major_df.isnull().sum()

IntendedCollegeMajor    0
TestTakers              0
Percent                 0
Total                   0
ReadingWriting          0
Math                    0
dtype: int64

In [335]:
sat_college_df.isnull().sum()

School                             0
Test Optional?                     0
Applies to Class Year(s)          26
Policy Details                     0
Number of Applicants               0
Accept Rate                        0
SAT Total 25th-75th Percentile     0
ACT Total 25th-75th Percentile     0
dtype: int64

In [336]:
gpa_uc_college_df.isnull().sum()

School                                        1
High School GPA of middle 25%-75% students    1
dtype: int64

### <font color = 'Maroon'>Check for Potential Issues with Observations, Displaying Data Types of each Feature and Drop Unnecessary Rows

Based on point 2, it is observed that there are several null values in some of the columns. Therefore, it is important to keep this in mind and decide on how to handle the missing values.

In [337]:
sat_college_major_df.dtypes

IntendedCollegeMajor    object
TestTakers              object
Percent                 object
Total                    int64
ReadingWriting           int64
Math                     int64
dtype: object

Fixing of testtakers and percent data types might be necessary for better EDA purposes.

In [338]:
#Check on the max and min values of the subtest
print(np.max(sat_college_major_df['ReadingWriting']), np.max(sat_college_major_df['Math']), np.max(sat_college_major_df['Total']))
print(np.min(sat_college_major_df['ReadingWriting']), np.min(sat_college_major_df['Math']), np.min(sat_college_major_df['Total']))

597 646 1242
458 456 916

In [339]:
print(np.max(sat_college_df['SAT Total 25th-75th Percentile']), np.max(sat_college_df['ACT Total 25th-75th Percentile']))
print(np.min(sat_college_df['SAT Total 25th-75th Percentile']), np.min(sat_college_df['ACT Total 25th-75th Percentile']))

sat_college_df.dtypes

​​ 1530-1560 35-36
-- --

School                            object
Test Optional?                    object
Applies to Class Year(s)          object
Policy Details                    object
Number of Applicants               int64
Accept Rate                       object
SAT Total 25th-75th Percentile    object
ACT Total 25th-75th Percentile    object
dtype: object

While the validity of both SAT and ACT scores are correct, observed that 1560 is not the max value in the dataframe. Might need to separate out the range values in column 25th-75th percentile. The percentile columns data types are also objects instead of int or float. Therefore, converting to int or float might be necessary

In [340]:
gpa_uc_college_df.dtypes

School                                        object
High School GPA of middle 25%-75% students    object
dtype: object

As 'High School GPA of middle 25%-75% students' column is an object, it is necessary to convert it to int or float first to buddy check the min or max value

In [341]:
sat_college_df['Test Optional?'].value_counts()

Yes         347
No           26
Yes (TB)     25
Yes*         16
Yes (TF)      2
Name: Test Optional?, dtype: int64

In [342]:
len(sat_college_df['Test Optional?'])

416

In [343]:
sat_college_df.shape

(416, 8)

For sat_college_df dataset, there are 416 rows. However, when checking on the 'Test optional?' column, the number of 'No' and null values coincide. This mean that 'No' in that column is regarded as null value

In [344]:
def policy_check(row):
    if "requires either the SAT or ACT" in row and "waive" not in row:
        return "No"
    else:
        return "Yes"

In [345]:
sat_college_df['Policy Check'] = sat_college_df['Policy Details'].apply(policy_check)

In [346]:
sat_college_df['Policy Check'].value_counts()

Yes    395
No      21
Name: Policy Check, dtype: int64

As shown above, this is just a preliminary assumption that all the statements that contain "requires either the SAT or ACT" and "waive" should be filled with "No" in "Test Optional?" column. However, the total counts of "No" are not aligned to the total counts of "No" in "Test Optional?" column. Hence, it can be concluded that either the if condition is wrong or there is some discrepancy in the "Test Optional" column. Upon checking the file, the if condition is wrong and there might be a need to write another if logic or there is no way to verify if the "Test Optional" column data was correctly inputted based on the sentiment in "Policy Details"

In [347]:
#Ensure no duplicate entries
sat_college_major_df.duplicated().sum()

0

In [348]:
#Ensure no duplicate entries
sat_college_df.duplicated().sum()

0

In [349]:
#Ensure no duplicate entries
gpa_uc_college_df.duplicated().sum()

0

### <font color = 'Maroon'>Fix any errors found in 2-3 and Fix any incorrect Data Types

In [350]:
# Change testtakers data types to int
def remove_commas_to_int(row):
    row = int(row.replace(",",""))
    return row

sat_college_major_df['TestTakers'] = sat_college_major_df['TestTakers'].apply(remove_commas_to_int)
sat_college_major_df['TestTakers'].head()

0     24913
1     28988
2      2629
3    155834
4    221523
Name: TestTakers, dtype: int64

In [351]:
# Change Percent data types to int
def remove_percent_to_float(row):
    row = float(row.replace("%",""))
    return row/100

sat_college_major_df['Percent'] = sat_college_major_df['Percent'].apply(remove_percent_to_float)
sat_college_major_df.head()

,IntendedCollegeMajor,TestTakers,Percent,Total,ReadingWriting,Math
0,"Agriculture, AgricultureOperations, and Relate...",24913,0.01,977,496,481
1,Architecture and Related Services,28988,0.02,1047,520,527
2,"Area, Ethnic, Cultural, and Gender Studies",2629,0.00,1040,536,504
3,Biological and Biomedical Sciences,155834,0.08,1139,572,566
4,"Business, Management, Marketing, and Related S...",221523,0.12,1072,534,537

In [352]:
sat_college_major_df.dtypes

IntendedCollegeMajor     object
TestTakers                int64
Percent                 float64
Total                     int64
ReadingWriting            int64
Math                      int64
dtype: object

In [353]:
# Change Accept Rate data types to int
sat_college_df['Accept Rate'] = sat_college_df['Accept Rate'].apply(remove_percent_to_float)
sat_college_df.head()

,School,Test Optional?,Applies to Class Year(s),Policy Details,Number of Applicants,Accept Rate,SAT Total 25th-75th Percentile,ACT Total 25th-75th Percentile,Policy Check
0,Stanford University,Yes,2021,Stanford has adopted a one-year test optional ...,47452,0.043,1440-1570,32-35,Yes
1,Harvard College,Yes,2021,Harvard has adopted a one-year test optional p...,42749,0.047,1460-1580,33-35,Yes
2,Princeton University,Yes,2021,Princeton has adopted a one-year test optional...,35370,0.055,1440-1570,32-35,Yes
3,Columbia University,Yes,2021,Columbia has adopted a one-year test optional ...,40203,0.055,1450-1560,33-35,Yes
4,Yale University,Yes,2021,Yale has adopted a one-year test optional poli...,36844,0.061,1460-1570,33-35,Yes

In [354]:
sat_college_df.dtypes

School                             object
Test Optional?                     object
Applies to Class Year(s)           object
Policy Details                     object
Number of Applicants                int64
Accept Rate                       float64
SAT Total 25th-75th Percentile     object
ACT Total 25th-75th Percentile     object
Policy Check                       object
dtype: object

In [358]:
sat_college_df['SAT Total 25th-75th Percentile'] = sat_college_df['SAT Total 25th-75th Percentile'].str.encode('ascii', 'ignore').str.decode('ascii')

In [359]:
#Separate 25th and 75th percentile

def split_first_element(string):
    if string == '--':
        pass
    else:
        string_split = string.split('-')[0]
        return string_split

def split_second_element(string):
    if string == '--':
        pass
    else:
        string_split = string.split('-')[1]
        return string_split

In [360]:
sat_college_df['SAT_25th_percentile'] = sat_college_df['SAT Total 25th-75th Percentile'].apply(split_first_element)
sat_college_df['SAT_75th_percentile'] = sat_college_df['SAT Total 25th-75th Percentile'].apply(split_second_element)
sat_college_df['ACT_25th_percentile'] = sat_college_df['ACT Total 25th-75th Percentile'].apply(split_first_element)
sat_college_df['ACT_75th_percentile'] = sat_college_df['ACT Total 25th-75th Percentile'].apply(split_second_element)

In [361]:
sat_college_df.dtypes

School                             object
Test Optional?                     object
Applies to Class Year(s)           object
Policy Details                     object
Number of Applicants                int64
Accept Rate                       float64
SAT Total 25th-75th Percentile     object
ACT Total 25th-75th Percentile     object
Policy Check                       object
SAT_25th_percentile                object
SAT_75th_percentile                object
ACT_25th_percentile                object
ACT_75th_percentile                object
dtype: object

In [362]:
sat_college_df['SAT_25th_percentile'] = pd.to_numeric(sat_college_df['SAT_25th_percentile'],errors = 'coerce')

In [363]:
sat_college_df['SAT_75th_percentile'] = sat_college_df['SAT_75th_percentile'].astype(float)
sat_college_df['ACT_25th_percentile'] = pd.to_numeric(sat_college_df['ACT_25th_percentile'],errors = 'coerce')
sat_college_df['ACT_75th_percentile'] = pd.to_numeric(sat_college_df['ACT_75th_percentile'],errors = 'coerce')

In [364]:
sat_college_df.dtypes

School                             object
Test Optional?                     object
Applies to Class Year(s)           object
Policy Details                     object
Number of Applicants                int64
Accept Rate                       float64
SAT Total 25th-75th Percentile     object
ACT Total 25th-75th Percentile     object
Policy Check                       object
SAT_25th_percentile               float64
SAT_75th_percentile               float64
ACT_25th_percentile               float64
ACT_75th_percentile               float64
dtype: object

In [365]:
# SAT score null values' rows are not dropped as the rows contain ACT scores and are valuable for calculations later on
sat_college_df['SAT_25th_percentile'].isnull().sum()

6

In [366]:
sat_college_df.head(6)

,School,Test Optional?,Applies to Class Year(s),Policy Details,Number of Applicants,Accept Rate,SAT Total 25th-75th Percentile,ACT Total 25th-75th Percentile,Policy Check,SAT_25th_percentile,SAT_75th_percentile,ACT_25th_percentile,ACT_75th_percentile
0,Stanford University,Yes,2021,Stanford has adopted a one-year test optional ...,47452,0.043,1440-1570,32-35,Yes,1440.0,1570.0,32.0,35.0
1,Harvard College,Yes,2021,Harvard has adopted a one-year test optional p...,42749,0.047,1460-1580,33-35,Yes,1460.0,1580.0,33.0,35.0
2,Princeton University,Yes,2021,Princeton has adopted a one-year test optional...,35370,0.055,1440-1570,32-35,Yes,1440.0,1570.0,32.0,35.0
3,Columbia University,Yes,2021,Columbia has adopted a one-year test optional ...,40203,0.055,1450-1560,33-35,Yes,1450.0,1560.0,33.0,35.0
4,Yale University,Yes,2021,Yale has adopted a one-year test optional poli...,36844,0.061,1460-1570,33-35,Yes,1460.0,1570.0,33.0,35.0
5,California Institute of Technology,Yes (TB),2021 2022,CalTech has adopted a two-year Test Blind poli...,8367,0.064,1530-1560,35-36,Yes,1530.0,1560.0,35.0,36.0

In [367]:
sat_college_df.to_csv('testing check nan.csv')

In [368]:
#Check for school that has ACT score null values
cond_act_null = sat_college_df['ACT_25th_percentile'].isnull()
cond_act_null_df = sat_college_df[cond_act_null]

cond_act_null_df['School']

60     University of California—​Irvine
93                         CUNY--Hunter
114                CUNY--Baruch College
242                   DePaul University
261                     Montclair State
305                          Ball State
Name: School, dtype: object

One of universities that has ACT scores with null values is University of California-Irvine. I decided not to drop the row as this row might be important to check SAT score correlation to GPA. With only 9 UC campus recorded, this row should not be dropped

In [369]:
#Drop null values in gpa_by_UC_college dataset
gpa_uc_college_df.dropna(inplace = True)

In [370]:
gpa_uc_college_df.dtypes

School                                        object
High School GPA of middle 25%-75% students    object
dtype: object

In [371]:
gpa_uc_college_df['GPA_25th_percentile'] = gpa_uc_college_df['High School GPA of middle 25%-75% students'].apply(split_first_element)
gpa_uc_college_df['GPA_75th_percentile'] = gpa_uc_college_df['High School GPA of middle 25%-75% students'].apply(split_second_element)

In [372]:
gpa_uc_college_df['GPA_75th_percentile'] = gpa_uc_college_df['GPA_75th_percentile'].astype(float)
gpa_uc_college_df['GPA_25th_percentile'] = gpa_uc_college_df['GPA_25th_percentile'].astype(float)
gpa_uc_college_df.dtypes

School                                         object
High School GPA of middle 25%-75% students     object
GPA_25th_percentile                           float64
GPA_75th_percentile                           float64
dtype: object

In [373]:
gpa_uc_college_df.head()

,School,High School GPA of middle 25%-75% students,GPA_25th_percentile,GPA_75th_percentile
0,University of California Berkeley,4.12-4.30,4.12,4.30
1,University of California Davis,3.95-4.25,3.95,4.25
2,University of California Irvine,3.96-4.26,3.96,4.26
3,University of California Los Angeles,4.19-4.32,4.19,4.32
4,University of California Merced,3.39-4.00,3.39,4.00

### <font color = 'Maroon'>Rename all columns

In [374]:
sat_college_major_df.columns =['intended_college_major', 'num_sat_takers_int','percent_of_majors_float', 'total_sat_score', 'mean_sat_reading_writing', 'mean_sat_math']

In [375]:
sat_college_df.columns = ['school', 'test_optional', 'class_years', 'policy_details', 'number_of_applicants_int', 'acceptance_rate_float', 'sat_total_middle_range', 'act_total_middle_range', 'policy_check', 'sat_25th_percentile', 'sat_75th_percentile', 'act_25th_percentile', 'act_75th_percentile']

In [376]:
gpa_uc_college_df.columns = ['school', 'high_school_gpa_middle_range', 'gpa_25th_percentile', 'gpa_75th_percentile']

In [377]:
sat_college_df.dtypes

school                       object
test_optional                object
class_years                  object
policy_details               object
number_of_applicants_int      int64
acceptance_rate_float       float64
sat_total_middle_range       object
act_total_middle_range       object
policy_check                 object
sat_25th_percentile         float64
sat_75th_percentile         float64
act_25th_percentile         float64
act_75th_percentile         float64
dtype: object

### <font color = 'Maroon'>Additional Data Cleaning

In [378]:
sat_college_df['class_years'] = sat_college_df['class_years'].replace('All / Permanent Policy', 'Permanent')
sat_college_df.head()

,school,test_optional,class_years,policy_details,number_of_applicants_int,acceptance_rate_float,sat_total_middle_range,act_total_middle_range,policy_check,sat_25th_percentile,sat_75th_percentile,act_25th_percentile,act_75th_percentile
0,Stanford University,Yes,2021,Stanford has adopted a one-year test optional ...,47452,0.043,1440-1570,32-35,Yes,1440.0,1570.0,32.0,35.0
1,Harvard College,Yes,2021,Harvard has adopted a one-year test optional p...,42749,0.047,1460-1580,33-35,Yes,1460.0,1580.0,33.0,35.0
2,Princeton University,Yes,2021,Princeton has adopted a one-year test optional...,35370,0.055,1440-1570,32-35,Yes,1440.0,1570.0,32.0,35.0
3,Columbia University,Yes,2021,Columbia has adopted a one-year test optional ...,40203,0.055,1450-1560,33-35,Yes,1450.0,1560.0,33.0,35.0
4,Yale University,Yes,2021,Yale has adopted a one-year test optional poli...,36844,0.061,1460-1570,33-35,Yes,1460.0,1570.0,33.0,35.0

### <font color = 'Maroon'> Add SAT and ACT scores column from sat_college_df to new df sat_college_california_df

In [379]:
california_uni = sat_college_df['school'].str.contains('California')
sat_college_california_df = sat_college_df[california_uni]
sat_college_california_df.head()

,school,test_optional,class_years,policy_details,number_of_applicants_int,acceptance_rate_float,sat_total_middle_range,act_total_middle_range,policy_check,sat_25th_percentile,sat_75th_percentile,act_25th_percentile,act_75th_percentile
5,California Institute of Technology,Yes (TB),2021 2022,CalTech has adopted a two-year Test Blind poli...,8367,0.064,1530-1560,35-36,Yes,1530.0,1560.0,35.0,36.0
24,University of California—​Los Angeles,Yes,2021 2022 2023 2024,The UC system has adopted a two-year test opti...,111322,0.123,1290-1510,27-34,Yes,1290.0,1510.0,27.0,34.0
26,University of Southern California,Yes,2021,USC has adopted a one-year test optional polic...,64352,0.130,1350-1530,30-34,Yes,1350.0,1530.0,30.0,34.0
33,University of California—​Berkeley,Yes (TB),2021 2022 2023 2024,Cal has adopted a four-year test blind policy ...,89621,0.148,1300-1530,28-34,Yes,1300.0,1530.0,28.0,34.0
60,University of California—​Irvine,Yes (TB),2021 2022 2023 2024,UCI has adopted a four-year test blind policy ...,95568,0.265,1180-1440,--,Yes,1180.0,1440.0,NaN,NaN

In [380]:
def california_cleaning(row):
    if '--' in row:
        return row.replace("--"," ")
    else:
        return row

sat_college_california_df['school'] = sat_college_california_df['school'].apply(california_cleaning)

<ipython-input-380-3bdb69ffe0d7>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sat_college_california_df['school'] = sat_college_california_df['school'].apply(california_cleaning)

In [381]:
sat_college_california_df['school']

5                     California Institute of Technology
24                 University of California—​Los Angeles
26                     University of Southern California
33                    University of California—​Berkeley
60                      University of California—​Irvine
65     California State Polytechnic University—​San L...
69               University of California—​Santa Barbara
72                   University of California—​San Diego
101              California State University Los Angeles
102               California State University Long Beach
108                      University of California—​Davis
143                 University of California—​Santa Cruz
145                California State University Fullerton
155       California State Polytechnic University Pomona
160                   University of California Riverside
173                   California State University Fresno
180               California State University Northridge
246           California State University San Bernardino
266                       California Lutheran University
269                      University of California—Merced
275                    California State University Chico
299             California State University Monterey Bay
335                     St. Mary's College of California
347               California State University Sacramento
Name: school, dtype: object

In [382]:
def california_cleaning_strip(name):
    name = name.replace('\u200b','').rstrip().replace('—', ' ')
    return name

In [383]:
sat_college_california_df['school'] = sat_college_california_df['school'].apply(california_cleaning_strip)

<ipython-input-383-915fa7786e29>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sat_college_california_df['school'] = sat_college_california_df['school'].apply(california_cleaning_strip)

In [384]:
sat_college_california_df['school']

5                     California Institute of Technology
24                  University of California Los Angeles
26                     University of Southern California
33                     University of California Berkeley
60                       University of California Irvine
65     California State Polytechnic University San Lu...
69                University of California Santa Barbara
72                    University of California San Diego
101              California State University Los Angeles
102               California State University Long Beach
108                       University of California Davis
143                  University of California Santa Cruz
145                California State University Fullerton
155       California State Polytechnic University Pomona
160                   University of California Riverside
173                   California State University Fresno
180               California State University Northridge
246           California State University San Bernardino
266                       California Lutheran University
269                      University of California Merced
275                    California State University Chico
299             California State University Monterey Bay
335                     St. Mary's College of California
347               California State University Sacramento
Name: school, dtype: object

In [385]:
sat_college_california_df.to_csv('list of universities containing california.csv')

In [386]:
sat_college_california_df['school']

5                     California Institute of Technology
24                  University of California Los Angeles
26                     University of Southern California
33                     University of California Berkeley
60                       University of California Irvine
65     California State Polytechnic University San Lu...
69                University of California Santa Barbara
72                    University of California San Diego
101              California State University Los Angeles
102               California State University Long Beach
108                       University of California Davis
143                  University of California Santa Cruz
145                California State University Fullerton
155       California State Polytechnic University Pomona
160                   University of California Riverside
173                   California State University Fresno
180               California State University Northridge
246           California State University San Bernardino
266                       California Lutheran University
269                      University of California Merced
275                    California State University Chico
299             California State University Monterey Bay
335                     St. Mary's College of California
347               California State University Sacramento
Name: school, dtype: object

In [387]:
gpa_uc_college_df['school']

0         University of California Berkeley
1            University of California Davis
2           University of California Irvine
3      University of California Los Angeles
4           University of California Merced
5        University of California Riverside
6        University of California San Diego
7    University of California Santa Barbara
8       University of California Santa Cruz
Name: school, dtype: object

In [388]:
gpa_uc_college_df.to_csv('university of california campuses.csv')

In [389]:
#Merge gpa_uc_college_df to sat_college_california_df

sat_college_california_df = pd.merge(sat_college_california_df, gpa_uc_college_df, on ='school', how ='inner')
sat_college_california_df

,school,test_optional,class_years,policy_details,number_of_applicants_int,acceptance_rate_float,sat_total_middle_range,act_total_middle_range,policy_check,sat_25th_percentile,sat_75th_percentile,act_25th_percentile,act_75th_percentile,high_school_gpa_middle_range,gpa_25th_percentile,gpa_75th_percentile
0,University of California Los Angeles,Yes,2021 2022 2023 2024,The UC system has adopted a two-year test opti...,111322,0.123,1290-1510,27-34,Yes,1290.0,1510.0,27.0,34.0,4.19-4.32,4.19,4.32
1,University of California Berkeley,Yes (TB),2021 2022 2023 2024,Cal has adopted a four-year test blind policy ...,89621,0.148,1300-1530,28-34,Yes,1300.0,1530.0,28.0,34.0,4.12-4.30,4.12,4.30
2,University of California Irvine,Yes (TB),2021 2022 2023 2024,UCI has adopted a four-year test blind policy ...,95568,0.265,1180-1440,--,Yes,1180.0,1440.0,NaN,NaN,3.96-4.26,3.96,4.26
3,University of California Santa Barbara,Yes,2021 2022 2023 2024,The UC system has adopted a two-year test opti...,93457,0.296,1260-1460,25-33,Yes,1260.0,1460.0,25.0,33.0,4.10-4.29,4.10,4.29
4,University of California San Diego,Yes,2021 2022 2023 2024,The UC system has adopted a two-year test opti...,97901,0.302,1250-1470,26-33,Yes,1250.0,1470.0,26.0,33.0,4.07-4.29,4.07,4.29
5,University of California Davis,Yes,2021 2022 2023 2024,The UC system has adopted a two-year test opti...,76647,0.412,1150-1410,25-31,Yes,1150.0,1410.0,25.0,31.0,3.95-4.25,3.95,4.25
6,University of California Santa Cruz,Yes (TB),2021 2022 2023 2024,UCSC has adopted a four-year test blind policy...,55906,0.515,1200-1360,24-30,Yes,1200.0,1360.0,24.0,30.0,3.81-4.20,3.81,4.20
7,University of California Riverside,Yes,2021 2022 2023 2024,The UC system has adopted a two-year test opti...,49788,0.567,1130-1340,24-30,Yes,1130.0,1340.0,24.0,30.0,3.7-4.13,3.70,4.13
8,University of California Merced,Yes,2021 2022 2023 2024,The UC system has adopted a two-year test opti...,25368,0.720,980-1180,17-22,Yes,980.0,1180.0,17.0,22.0,3.39-4.00,3.39,4.00

In [390]:
sat_college_california_df.to_csv('list of california universities with merged high school GPA value.csv')

In [391]:
sat_college_major_df.to_csv('cleaned intended college major and mean SAT scores.csv')

In [392]:
sat_college_df.to_csv('cleaned data of universities with their ACT and SAT scores.csv')

### <font color = 'Maroon'>Data Dictionary

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**intended_college_major**|*object*|College Board 2019 SAT Annual Report|Student's intended college majors (total of 38 majors)| 
|**num_sat_takers_int**|*integer*|College Board 2019 SAT Annual Report|Number of test takers corresponding to the intended college major|
|**percent_of_majors_float**|*float64*|College Board 2019 SAT Annual Report|Percent(%) of test takers choosing the intended majors| 
|**total_sat_score**|*integer*|College Board 2019 SAT Annual Report| Mean total SAT score (max 1600) |
|**mean_sat_reading_writing**|*integer*|College Board 2019 SAT Annual Report|Mean reading writing SAT score (max 800).| 
|**mean_sat_math**|*integer*|College Board 2019 SAT Annual Report|Mean math SAT score (max 800)|

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**school**|*object*|Compass Education Group SAT and ACT Policies with Score Ranges|College or university name| 
|**test_optional**|*object*|Compass Education Group SAT and ACT Policies with Score Ranges|Test-optinal policy implementation ( Yes or No)|
|**class_years**|*object*|Compass Education Group SAT and ACT Policies with Score Ranges|Class years that are elligible| 
|**policy_details**|*object*|Compass Education Group SAT and ACT Policies with Score Ranges|Details of test optional policy|
|**number_of_applicants_int**|*integer*|Compass Education Group SAT and ACT Policies with Score Ranges|Number of applicants to each school| 
|**acceptance_rate_float**|*float64*|Compass Education Group SAT and ACT Policies with Score Ranges|Percentage(%) of students who are accepted|
|**sat_total_middle_range**|*object*|Compass Education Group SAT and ACT Policies with Score Ranges|Range of 25th and 75th percentile SAT scores accepted by the school|
|**act_total_middle_range**|*object*|Compass Education Group SAT and ACT Policies with Score Ranges|Range of 25th and 75th percentile ACT scores accepted by the school|
|**policy_check**|*object*|Compass Education Group SAT and ACT Policies with Score Ranges|Policy buddy check if 'test_optional' is correctly inputted based on sentiment)|
|**sat_25th_percentile**|*float64*|Compass Education Group SAT and ACT Policies with Score Ranges|25th percentile of school's accepted SAT scores|
|**sat_75th_percentile**|*float64*|Compass Education Group SAT and ACT Policies with Score Ranges|75th percentile of school's accepted SAT scores|
|**act_25th_percentile**|*float64*|Compass Education Group SAT and ACT Policies with Score Ranges|25th percentile of school's accepted ACT scores)|
|**act_75th_percentile**|*float64*|Compass Education Group SAT and ACT Policies with Score Ranges|75th percentile of school's accepted ACT scores)|

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**high_school_gpa_middle_range**|*float64*|University of California Freshman Admit Data|Range of 25th and 75th percentile high school GPA accepted by the school|
|**gpa_25th_percentile**|*float64*|University of California Freshman Admit Data|25th percentile of school's accepted high school GPA|
|**gpa_75th_percentile**|*float64*|University of California Freshman Admit Data|75th percentile of school's accepted high school GPA|

## <font color = 'Maroon'>Descriptive Statistics

In [393]:
sat_college_major_df.describe()

,num_sat_takers_int,percent_of_majors_float,total_sat_score,mean_sat_reading_writing,mean_sat_math
count,38.000000,38.000000,38.000000,38.000000,38.000000
mean,48394.500000,0.025789,1058.500000,535.500000,523.000000
std,72753.092558,0.039975,82.445969,41.362439,43.386385
min,283.000000,0.000000,916.000000,458.000000,456.000000
25%,6611.000000,0.000000,988.250000,501.250000,486.500000
50%,16370.500000,0.010000,1066.500000,537.000000,527.000000
75%,60215.750000,0.035000,1115.500000,569.750000,542.250000
max,331026.000000,0.180000,1242.000000,597.000000,646.000000

In [394]:
sat_college_df.describe()

,number_of_applicants_int,acceptance_rate_float,sat_25th_percentile,sat_75th_percentile,act_25th_percentile,act_75th_percentile
count,416.000000,416.000000,410.000000,410.000000,410.000000,410.000000
mean,17481.759615,0.557034,1167.008537,1358.892683,24.712927,29.889756
std,17447.621897,0.242117,129.586121,111.431443,4.127758,3.154675
min,211.000000,0.043000,793.000000,1050.000000,15.000000,19.000000
25%,5313.000000,0.376250,1070.000000,1270.000000,22.000000,28.000000
50%,11622.000000,0.613000,1150.000000,1350.000000,24.000000,30.000000
75%,23599.750000,0.742250,1250.000000,1440.000000,28.000000,32.000000
max,111322.000000,0.999000,1530.000000,1580.000000,35.000000,36.000000

In [395]:
sat_college_california_df.describe()

,number_of_applicants_int,acceptance_rate_float,sat_25th_percentile,sat_75th_percentile,act_25th_percentile,act_75th_percentile,gpa_25th_percentile,gpa_75th_percentile
count,9.000000,9.000000,9.000000,9.000000,8.000000,8.000000,9.000000,9.000000
mean,77286.444444,0.372000,1193.333333,1411.111111,24.500000,30.875000,3.921111,4.226667
std,27929.473586,0.198582,100.000000,107.056579,3.338092,3.943802,0.252905,0.103199
min,25368.000000,0.123000,980.000000,1180.000000,17.000000,22.000000,3.390000,4.000000
25%,55906.000000,0.265000,1150.000000,1360.000000,24.000000,30.000000,3.810000,4.200000
50%,89621.000000,0.302000,1200.000000,1440.000000,25.000000,32.000000,3.960000,4.260000
75%,95568.000000,0.515000,1260.000000,1470.000000,26.250000,33.250000,4.100000,4.290000
max,111322.000000,0.720000,1300.000000,1530.000000,28.000000,34.000000,4.190000,4.320000

## <font color = 'Maroon'>Create a Dictionary Comprehension to calculate Standard Deviation

In [396]:
sd1 = {column.name: std_deviation_calculation(column) for column in [sat_college_major_df[i] for i in sat_college_major_df.columns if (sat_college_major_df[i].dtype == 'float64') or (sat_college_major_df[i].dtype == 'int64')]}

In [397]:
sd1

{'num_sat_takers_int': 71789.43289002257,
 'percent_of_majors_float': 0.03944560404747735,
 'total_sat_score': 81.35392139482761,
 'mean_sat_reading_writing': 40.814567832679806,
 'mean_sat_math': 42.811705236572365}

In [398]:
#Decided to drop null values for standard deviation calculation, otherwise, it will be nan
sat_college_df.dropna(subset =['school', 'sat_25th_percentile'], inplace = True)
sat_college_df.dropna(subset =['school', 'sat_75th_percentile'], inplace = True)
sat_college_df.dropna(subset =['school', 'act_25th_percentile'], inplace = True)
sat_college_df.dropna(subset =['school', 'act_75th_percentile'], inplace = True)

In [399]:
sd2 = {column.name: std_deviation_calculation(column) for column in [sat_college_df[i] for i in sat_college_df.columns if (sat_college_df[i].dtype == 'float64') or (sat_college_df[i].dtype == 'int64')]}

In [400]:
sd2

{'number_of_applicants_int': 17166.400676527417,
 'acceptance_rate_float': 0.24175568498775526,
 'sat_25th_percentile': 129.76331270270018,
 'sat_75th_percentile': 111.34077154127958,
 'act_25th_percentile': 4.131452261611048,
 'act_75th_percentile': 3.1548920842724386}

In [401]:
#Decided to drop null values for standard deviation calculation, otherwise, it will be nan
sat_college_california_df.dropna(subset =['school', 'sat_25th_percentile'], inplace = True)
sat_college_california_df.dropna(subset =['school', 'sat_75th_percentile'], inplace = True)
sat_college_california_df.dropna(subset =['school', 'act_25th_percentile'], inplace = True)
sat_college_california_df.dropna(subset =['school', 'act_75th_percentile'], inplace = True)

In [402]:
sd3 = {column.name: std_deviation_calculation(column) for column in [sat_college_california_df[i] for i in sat_college_california_df.columns if (sat_college_california_df[i].dtype == 'float64') or (sat_college_california_df[i].dtype == 'int64')]}

In [403]:
sd3

{'number_of_applicants_int': 27075.0156405772,
 'acceptance_rate_float': 0.19448646321788052,
 'sat_25th_percentile': 99.87492177719089,
 'sat_75th_percentile': 106.50704202070396,
 'act_25th_percentile': 3.122498999199199,
 'act_75th_percentile': 3.6890886408434267,
 'gpa_25th_percentile': 0.2524845292290203,
 'gpa_75th_percentile': 0.10243900624273942}

## <font color = 'Maroon'>Investigate Trends in Data

In [404]:
# Investigate intended majors/backgrounds sorted by total SAT score
sat_college_major_df.sort_values(by = 'total_sat_score', ascending = False).head()

,intended_college_major,num_sat_takers_int,percent_of_majors_float,total_sat_score,mean_sat_reading_writing,mean_sat_math
19,Mathematics and Statistics,16508,0.01,1242,597,646
27,Physical Sciences,26318,0.01,1203,597,606
32,Social Sciences,33356,0.02,1164,594,570
6,Computer and Information Sciences and Support ...,79736,0.04,1156,571,585
22,Multi/Interdisciplinary Studies,2979,0.00,1155,581,574

Majors with top 5 highest total SAT scores are:
- Math and Stats 
- Physical Sciences
- Social Sciences
- Computer and Information Sciences and Support Services
- Multi/Interdisciplinary Studies.

In [405]:
sat_college_major_df.sort_values(by = 'num_sat_takers_int', ascending = False).head()

,intended_college_major,num_sat_takers_int,percent_of_majors_float,total_sat_score,mean_sat_reading_writing,mean_sat_math
14,Health Professions and related Clinical Sciences,331026,0.18,1048,529,518
4,"Business, Management, Marketing, and Related S...",221523,0.12,1072,534,537
9,Engineering,194127,0.11,1139,559,581
3,Biological and Biomedical Sciences,155834,0.08,1139,572,566
35,"Visual and Performing Arts, General",130642,0.07,1045,536,510

By popularity or number of test takers, the top 5 majors are:
- Health Professions and related Clinical Sciences
- Business, Management, Marketing, and Related Support Services 
- Engineering 
- Biological and Biomedical Sciences
- Visual and Performing Arts, General

In [406]:
#Investigate top schools by SAT_25th_percentile
sat_college_df.sort_values(by = 'sat_25th_percentile', ascending = False).head()

,school,test_optional,class_years,policy_details,number_of_applicants_int,acceptance_rate_float,sat_total_middle_range,act_total_middle_range,policy_check,sat_25th_percentile,sat_75th_percentile,act_25th_percentile,act_75th_percentile
5,California Institute of Technology,Yes (TB),2021 2022,CalTech has adopted a two-year Test Blind poli...,8367,0.064,1530-1560,35-36,Yes,1530.0,1560.0,35.0,36.0
6,Massachusetts Institute of Technology,Yes,2021,MIT has adopted a one-year test optional polic...,21706,0.067,1500-1570,34-36,Yes,1500.0,1570.0,34.0,36.0
31,Harvey Mudd College,Yes,2021,Harvey Mudd has adopted a one-year test option...,4045,0.137,1490-1570,33-35,Yes,1490.0,1570.0,33.0,35.0
8,University of Chicago,Yes,Permanent,UChicago offers a test optional policy which a...,32283,0.073,1490-1570,33-35,Yes,1490.0,1570.0,33.0,35.0
18,Johns Hopkins University,Yes,2021,Johns Hopkins has adopted a one-year test opti...,29129,0.106,1470-1560,33-35,Yes,1470.0,1560.0,33.0,35.0

In [408]:
#Investigate top schools by SAT_75th_percentile
sat_college_df.sort_values(by = 'sat_75th_percentile', ascending = False).head()

,school,test_optional,class_years,policy_details,number_of_applicants_int,acceptance_rate_float,sat_total_middle_range,act_total_middle_range,policy_check,sat_25th_percentile,sat_75th_percentile,act_25th_percentile,act_75th_percentile
1,Harvard College,Yes,2021,Harvard has adopted a one-year test optional p...,42749,0.047,1460-1580,33-35,Yes,1460.0,1580.0,33.0,35.0
0,Stanford University,Yes,2021,Stanford has adopted a one-year test optional ...,47452,0.043,1440-1570,32-35,Yes,1440.0,1570.0,32.0,35.0
2,Princeton University,Yes,2021,Princeton has adopted a one-year test optional...,35370,0.055,1440-1570,32-35,Yes,1440.0,1570.0,32.0,35.0
4,Yale University,Yes,2021,Yale has adopted a one-year test optional poli...,36844,0.061,1460-1570,33-35,Yes,1460.0,1570.0,33.0,35.0
35,Washington University in St. Louis,Yes,2021,Washington University in St. Louis has adopted...,31320,0.150,1470-1570,32-35,Yes,1470.0,1570.0,32.0,35.0

For SAT scores, based on the 25th percentile value, it is shown that California Institure of Technology has the highest SAT scores followed by MIT. This means that almost all students admitted there usually have very high SAT scores

Based on 75th percentile value, Harvard college has the highest SAT scores followed by Standford University. This means that only 25% of the admitted student population has very high SAT scores.

All of the students admitted in the universities above have above average SAT scores (1167 for 25th percentile and 1359 for 75th percentile)

In [409]:
#Investigate top schools by ACT_25th_percentile
sat_college_df.sort_values(by = 'act_25th_percentile', ascending = False).head()

,school,test_optional,class_years,policy_details,number_of_applicants_int,acceptance_rate_float,sat_total_middle_range,act_total_middle_range,policy_check,sat_25th_percentile,sat_75th_percentile,act_25th_percentile,act_75th_percentile
5,California Institute of Technology,Yes (TB),2021 2022,CalTech has adopted a two-year Test Blind poli...,8367,0.064,1530-1560,35-36,Yes,1530.0,1560.0,35.0,36.0
6,Massachusetts Institute of Technology,Yes,2021,MIT has adopted a one-year test optional polic...,21706,0.067,1500-1570,34-36,Yes,1500.0,1570.0,34.0,36.0
37,Carnegie Mellon University,Yes,2021,Carnegie Mellon has adopted a one-year test op...,27634,0.154,1460-1560,33-35,Yes,1460.0,1560.0,33.0,35.0
10,University of Pennsylvania,Yes,2021,UPenn has adopted a one-year test optional pol...,44961,0.077,1450-1560,33-35,Yes,1450.0,1560.0,33.0,35.0
20,Rice University,Yes,2021,Rice has adopted a one-year test optional poli...,20923,0.111,1450-1560,33-35,Yes,1450.0,1560.0,33.0,35.0

For ACT scores, California Institute of Technology and MIT remain as the top 2. This is also reflected in their SAT scores. Generally those 2 universities admitted students with very high on both SAT and ACT scores

In [410]:
#Investigate top schools by ACT_75th_percentile
sat_college_df.sort_values(by = 'act_75th_percentile', ascending = False).head()

,school,test_optional,class_years,policy_details,number_of_applicants_int,acceptance_rate_float,sat_total_middle_range,act_total_middle_range,policy_check,sat_25th_percentile,sat_75th_percentile,act_25th_percentile,act_75th_percentile
5,California Institute of Technology,Yes (TB),2021 2022,CalTech has adopted a two-year Test Blind poli...,8367,0.064,1530-1560,35-36,Yes,1530.0,1560.0,35.0,36.0
6,Massachusetts Institute of Technology,Yes,2021,MIT has adopted a one-year test optional polic...,21706,0.067,1500-1570,34-36,Yes,1500.0,1570.0,34.0,36.0
0,Stanford University,Yes,2021,Stanford has adopted a one-year test optional ...,47452,0.043,1440-1570,32-35,Yes,1440.0,1570.0,32.0,35.0
15,Northwestern University,Yes,2021,Northwestern has adopted a one-year test optio...,40585,0.091,1440-1550,33-35,Yes,1440.0,1550.0,33.0,35.0
44,Northeastern University,Yes,2021,Northeastern University has adopted a one-year...,62263,0.181,1390-1540,32-35,Yes,1390.0,1540.0,32.0,35.0

Interestingly, both CIT and MIT also remain as top 2 for for their 75th percentile ACT score. This means that their standard deviation ACT scores are lower and generally students have higher ACT scores

In [412]:
#Investigate top schools by acceptance rate
sat_college_df.sort_values(by = 'acceptance_rate_float').head()

,school,test_optional,class_years,policy_details,number_of_applicants_int,acceptance_rate_float,sat_total_middle_range,act_total_middle_range,policy_check,sat_25th_percentile,sat_75th_percentile,act_25th_percentile,act_75th_percentile
0,Stanford University,Yes,2021,Stanford has adopted a one-year test optional ...,47452,0.043,1440-1570,32-35,Yes,1440.0,1570.0,32.0,35.0
1,Harvard College,Yes,2021,Harvard has adopted a one-year test optional p...,42749,0.047,1460-1580,33-35,Yes,1460.0,1580.0,33.0,35.0
2,Princeton University,Yes,2021,Princeton has adopted a one-year test optional...,35370,0.055,1440-1570,32-35,Yes,1440.0,1570.0,32.0,35.0
3,Columbia University,Yes,2021,Columbia has adopted a one-year test optional ...,40203,0.055,1450-1560,33-35,Yes,1450.0,1560.0,33.0,35.0
4,Yale University,Yes,2021,Yale has adopted a one-year test optional poli...,36844,0.061,1460-1570,33-35,Yes,1460.0,1570.0,33.0,35.0

Top 5 hardest schools to be admitted are:
- Standford University
- Harvard College
- Princeton University
- Columbia University
- Yale University

It can be seen that both CIT and MIT are not in the top 5 for hardest school to be admitted despite their students generally have higher SAT and ACT scores

Referring to the top majors analysed above, usually STEM majors have the highest SAT scores. Recall top 2 majors are math,stats and physical science. This accurately reflects why both CIT and MIT admitted students have higher SAT and ACT scores as both schools are technology schools and are more popular for their STEM field

In [420]:
#Check universities with 4-year and above permanent test-optional policy

cond_policy = sat_college_df['class_years'] == '2021 2022 2023 2024'
sat_college_policy_4_years_df = sat_college_df[cond_policy]
sat_college_policy_4_years_df['school']

24       University of California—​Los Angeles
33          University of California—​Berkeley
69     University of California—​Santa Barbara
72         University of California—​San Diego
108            University of California—​Davis
143       University of California—​Santa Cruz
160         University of California Riverside
269            University of California—Merced
Name: school, dtype: object

In [422]:
sat_college_policy_4_years_df['school'].shape

(8,)

In [421]:
cond_policy2 = sat_college_df['class_years'] == 'Permanent'
sat_college_policy_permanent_df = sat_college_df[cond_policy2]
sat_college_policy_permanent_df['school']

8               University of Chicago
12                    Bowdoin College
23                      Bates College
28                      Colby College
29                     Pitzer College
                    ...
380                Washington College
385              University of Toledo
387                    Portland State
388    Queens University of Charlotte
389                  Western Kentucky
Name: school, Length: 151, dtype: object

In [424]:
sat_college_policy_permanent_df['school'].shape

(151,)

A total of 159 out of 416 universities implemented long-term test-optional policies, which is 38%

In [425]:
#Check universities with 1-year test-optional policy (2021)

cond_policy3 = sat_college_df['class_years'] == '2021'
sat_college_policy_1_year_df = sat_college_df[cond_policy3]
sat_college_policy_1_year_df['school']

0         Stanford University
1             Harvard College
2        Princeton University
3         Columbia University
4             Yale University
                ...
378                Utah State
379     Iowa State University
381     University of Montana
382        Samford University
384    University of Kentucky
Name: school, Length: 194, dtype: object

In [426]:
sat_college_policy_1_year_df['school'].shape

(194,)

A total of 194 out of 416 universities implement short-term test-optional policies, which is 46%

With the average of acceptance rate of 55.7%, we want to check universities that are relatively easier to be admitted whether they has higher or lower average national SAT and ACT scores

In [428]:
#Filter universities with acceptance rate above 55.7%
easy_acc_rate = sat_college_df['acceptance_rate_float'] > 0.557
sat_college_easy_acc_rate_df = sat_college_df[easy_acc_rate]

In [430]:
sat_college_easy_acc_rate_df.describe()

,number_of_applicants_int,acceptance_rate_float,sat_25th_percentile,sat_75th_percentile,act_25th_percentile,act_75th_percentile
count,241.000000,241.000000,241.000000,241.000000,241.000000,241.000000
mean,12819.468880,0.724876,1094.811203,1299.639004,22.482573,28.385062
std,11073.246877,0.102881,77.083468,74.862696,2.658451,2.497337
min,211.000000,0.558000,793.000000,1050.000000,15.000000,19.000000
25%,4043.000000,0.644000,1050.000000,1250.000000,21.000000,27.000000
50%,9743.000000,0.723000,1100.000000,1310.000000,22.000000,29.000000
75%,18411.000000,0.804000,1150.000000,1350.000000,24.000000,30.000000
max,54912.000000,0.999000,1260.000000,1480.000000,31.000000,35.000000

They generally have lower scores on both SAT and ACT tests compared to national mean SAT and ACT 25th and 75th percentile value

Which universities have above average national on both tests based on 25th percentile?

In [434]:
higher_sat_test = sat_college_df['sat_25th_percentile'] > 1167
higher_act_test = sat_college_df['act_25th_percentile'] > 24.71

filtered_sat_act_test_df = sat_college_df[higher_sat_test & higher_act_test]
filtered_sat_act_test_df['school'].head()

0     Stanford University
1         Harvard College
2    Princeton University
3     Columbia University
4         Yale University
Name: school, dtype: object

Which colleges have the highest median SAT and ACT scores for admittance?

In [436]:
sat_college_df['median_sat'] = (sat_college_df['sat_25th_percentile'] + sat_college_df['sat_75th_percentile'])/2
sat_college_df['median_act'] = (sat_college_df['act_25th_percentile'] + sat_college_df['act_75th_percentile'])/2

In [439]:
sat_college_df.sort_values(by = 'median_sat', ascending = False).head()

,school,test_optional,class_years,policy_details,number_of_applicants_int,acceptance_rate_float,sat_total_middle_range,act_total_middle_range,policy_check,sat_25th_percentile,sat_75th_percentile,act_25th_percentile,act_75th_percentile,median_sat,median_act
5,California Institute of Technology,Yes (TB),2021 2022,CalTech has adopted a two-year Test Blind poli...,8367,0.064,1530-1560,35-36,Yes,1530.0,1560.0,35.0,36.0,1545.0,35.5
6,Massachusetts Institute of Technology,Yes,2021,MIT has adopted a one-year test optional polic...,21706,0.067,1500-1570,34-36,Yes,1500.0,1570.0,34.0,36.0,1535.0,35.0
31,Harvey Mudd College,Yes,2021,Harvey Mudd has adopted a one-year test option...,4045,0.137,1490-1570,33-35,Yes,1490.0,1570.0,33.0,35.0,1530.0,34.0
8,University of Chicago,Yes,Permanent,UChicago offers a test optional policy which a...,32283,0.073,1490-1570,33-35,Yes,1490.0,1570.0,33.0,35.0,1530.0,34.0
35,Washington University in St. Louis,Yes,2021,Washington University in St. Louis has adopted...,31320,0.150,1470-1570,32-35,Yes,1470.0,1570.0,32.0,35.0,1520.0,33.5

In [440]:
sat_college_df.sort_values(by = 'median_act', ascending = False).head()

,school,test_optional,class_years,policy_details,number_of_applicants_int,acceptance_rate_float,sat_total_middle_range,act_total_middle_range,policy_check,sat_25th_percentile,sat_75th_percentile,act_25th_percentile,act_75th_percentile,median_sat,median_act
5,California Institute of Technology,Yes (TB),2021 2022,CalTech has adopted a two-year Test Blind poli...,8367,0.064,1530-1560,35-36,Yes,1530.0,1560.0,35.0,36.0,1545.0,35.5
6,Massachusetts Institute of Technology,Yes,2021,MIT has adopted a one-year test optional polic...,21706,0.067,1500-1570,34-36,Yes,1500.0,1570.0,34.0,36.0,1535.0,35.0
18,Johns Hopkins University,Yes,2021,Johns Hopkins has adopted a one-year test opti...,29129,0.106,1470-1560,33-35,Yes,1470.0,1560.0,33.0,35.0,1515.0,34.0
15,Northwestern University,Yes,2021,Northwestern has adopted a one-year test optio...,40585,0.091,1440-1550,33-35,Yes,1440.0,1550.0,33.0,35.0,1495.0,34.0
37,Carnegie Mellon University,Yes,2021,Carnegie Mellon has adopted a one-year test op...,27634,0.154,1460-1560,33-35,Yes,1460.0,1560.0,33.0,35.0,1510.0,34.0

Above universities with highes median SAT and ACT scores for admittance

In [441]:
# Get groupby test_optional
sat_college_df.groupby('class_years').agg([np.mean,np.median, np.sum])

                         number_of_applicants_int                  \
                                             mean median      sum
class_years
2021                                 21365.097938  17292  4144829
2021 2022                            16475.000000  11442   181225
2021 2022 2023                       14290.733333   9864   214361
2021 2022 2023 2024                  75001.250000  83134   600010
2021 2022 2023 2024 2025              9845.000000   9845     9845
Permanent                             9902.000000   6784  1495202

                         acceptance_rate_float                  \
                                          mean median      sum
class_years
2021                                  0.520897  0.590  101.054
2021 2022                             0.483818  0.488    5.322
2021 2022 2023                        0.442133  0.447    6.632
2021 2022 2023 2024                   0.385375  0.357    3.083
2021 2022 2023 2024 2025              0.342000  0.342    0.342
Permanent                             0.625927  0.669   94.515

                         sat_25th_percentile                    \
                                        mean  median       sum
class_years
2021                             1179.773196  1160.0  228876.0
2021 2022                        1248.000000  1280.0   13728.0
2021 2022 2023                   1248.166667  1220.0   18722.5
2021 2022 2023 2024              1195.000000  1225.0    9560.0
2021 2022 2023 2024 2025         1255.000000  1255.0    1255.0
Permanent                        1144.894040  1130.0  172879.0

                         sat_75th_percentile  ... act_25th_percentile  \
                                        mean  ...                 sum
class_years                                   ...
2021                             1366.623711  ...              4840.3
2021 2022                        1420.909091  ...               298.0
2021 2022 2023                   1437.000000  ...               416.0
2021 2022 2023 2024              1407.500000  ...               196.0
2021 2022 2023 2024 2025         1430.000000  ...                28.0
Permanent                        1343.430464  ...              3661.0

                         act_75th_percentile                  median_sat  \
                                        mean median     sum         mean
class_years
2021                               29.996392   30.0  5819.3  1273.198454
2021 2022                          31.454545   32.0   346.0  1334.454545
2021 2022 2023                     32.000000   32.0   480.0  1342.583333
2021 2022 2023 2024                30.875000   32.0   247.0  1301.250000
2021 2022 2023 2024 2025           32.000000   32.0    32.0  1342.500000
Permanent                          29.652318   30.0  4477.5  1244.162252

                                            median_act
                          median        sum       mean median      sum
class_years
2021                      1252.5  247000.50  27.473196   27.5  5329.80
2021 2022                 1360.0   14679.00  29.272727   30.0   322.00
2021 2022 2023            1325.0   20138.75  29.866667   29.5   448.00
2021 2022 2023 2024       1320.0   10410.00  27.687500   28.5   221.50
2021 2022 2023 2024 2025  1342.5    1342.50  30.000000   30.0    30.00
Permanent                 1235.0  187868.50  26.948675   27.0  4069.25

[6 rows x 24 columns]

sat_college_df.groupby('class_years').agg([np.mean,np.median, np.sum])Universities with longer test-policy terms have lower acceptance rate. However, for permanent policies, they have the highest acceptance rate

In [443]:
sat_college_df.groupby('class_years').agg([np.mean,np.median, np.sum])['sat_25th_percentile']

                                 mean  median       sum
class_years
2021                      1179.773196  1160.0  228876.0
2021 2022                 1248.000000  1280.0   13728.0
2021 2022 2023            1248.166667  1220.0   18722.5
2021 2022 2023 2024       1195.000000  1225.0    9560.0
2021 2022 2023 2024 2025  1255.000000  1255.0    1255.0
Permanent                 1144.894040  1130.0  172879.0

In [444]:
sat_college_df.groupby('class_years').agg([np.mean,np.median, np.sum])['act_25th_percentile']

                               mean  median     sum
class_years
2021                      24.950000    25.0  4840.3
2021 2022                 27.090909    28.0   298.0
2021 2022 2023            27.733333    27.0   416.0
2021 2022 2023 2024       24.500000    25.0   196.0
2021 2022 2023 2024 2025  28.000000    28.0    28.0
Permanent                 24.245033    24.0  3661.0

No strong correlation between test-optional policy duration and SAT or ACT scores

In [446]:
sat_college_california_df.sort_values(by = 'gpa_25th_percentile', ascending = False).head()

,school,test_optional,class_years,policy_details,number_of_applicants_int,acceptance_rate_float,sat_total_middle_range,act_total_middle_range,policy_check,sat_25th_percentile,sat_75th_percentile,act_25th_percentile,act_75th_percentile,high_school_gpa_middle_range,gpa_25th_percentile,gpa_75th_percentile
0,University of California Los Angeles,Yes,2021 2022 2023 2024,The UC system has adopted a two-year test opti...,111322,0.123,1290-1510,27-34,Yes,1290.0,1510.0,27.0,34.0,4.19-4.32,4.19,4.32
1,University of California Berkeley,Yes (TB),2021 2022 2023 2024,Cal has adopted a four-year test blind policy ...,89621,0.148,1300-1530,28-34,Yes,1300.0,1530.0,28.0,34.0,4.12-4.30,4.12,4.30
3,University of California Santa Barbara,Yes,2021 2022 2023 2024,The UC system has adopted a two-year test opti...,93457,0.296,1260-1460,25-33,Yes,1260.0,1460.0,25.0,33.0,4.10-4.29,4.10,4.29
4,University of California San Diego,Yes,2021 2022 2023 2024,The UC system has adopted a two-year test opti...,97901,0.302,1250-1470,26-33,Yes,1250.0,1470.0,26.0,33.0,4.07-4.29,4.07,4.29
5,University of California Davis,Yes,2021 2022 2023 2024,The UC system has adopted a two-year test opti...,76647,0.412,1150-1410,25-31,Yes,1150.0,1410.0,25.0,31.0,3.95-4.25,3.95,4.25

In [447]:
sat_college_california_df.sort_values(by = 'sat_25th_percentile', ascending = False).head()

,school,test_optional,class_years,policy_details,number_of_applicants_int,acceptance_rate_float,sat_total_middle_range,act_total_middle_range,policy_check,sat_25th_percentile,sat_75th_percentile,act_25th_percentile,act_75th_percentile,high_school_gpa_middle_range,gpa_25th_percentile,gpa_75th_percentile
1,University of California Berkeley,Yes (TB),2021 2022 2023 2024,Cal has adopted a four-year test blind policy ...,89621,0.148,1300-1530,28-34,Yes,1300.0,1530.0,28.0,34.0,4.12-4.30,4.12,4.30
0,University of California Los Angeles,Yes,2021 2022 2023 2024,The UC system has adopted a two-year test opti...,111322,0.123,1290-1510,27-34,Yes,1290.0,1510.0,27.0,34.0,4.19-4.32,4.19,4.32
3,University of California Santa Barbara,Yes,2021 2022 2023 2024,The UC system has adopted a two-year test opti...,93457,0.296,1260-1460,25-33,Yes,1260.0,1460.0,25.0,33.0,4.10-4.29,4.10,4.29
4,University of California San Diego,Yes,2021 2022 2023 2024,The UC system has adopted a two-year test opti...,97901,0.302,1250-1470,26-33,Yes,1250.0,1470.0,26.0,33.0,4.07-4.29,4.07,4.29
6,University of California Santa Cruz,Yes (TB),2021 2022 2023 2024,UCSC has adopted a four-year test blind policy...,55906,0.515,1200-1360,24-30,Yes,1200.0,1360.0,24.0,30.0,3.81-4.20,3.81,4.20

There might be a correlation between gpa and sat score based on 25th percentile data as UC Berkeley, UC Santa Barbara and UC San Diego are in order for both sorted values

##  <font color = 'Maroon'>Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [448]:
sat_college_major_df.corr()

,num_sat_takers_int,percent_of_majors_float,total_sat_score,mean_sat_reading_writing,mean_sat_math
num_sat_takers_int,1.000000,0.997478,0.145413,0.092261,0.185672
percent_of_majors_float,0.997478,1.000000,0.156793,0.103632,0.196504
total_sat_score,0.145413,0.156793,1.000000,0.971867,0.973682
mean_sat_reading_writing,0.092261,0.103632,0.971867,1.000000,0.892710
mean_sat_math,0.185672,0.196504,0.973682,0.892710,1.000000

In [455]:
sat_college_major_df_corr = sat_college_major_df.corr()
corr_color = sat_college_major_df_corr.style.background_gradient(cmap='coolwarm').set_precision(2).set_caption("Heat maps for SAT scores correlation")
display(corr_color)

In [454]:
sat_college_df_corr = sat_college_df.corr()
corr_color1 = sat_college_df_corr.style.background_gradient(cmap='coolwarm').set_precision(2).set_caption("Heat maps for SAT ACT scores and college correlation")
display(corr_color1)

In [456]:
sat_college_california_df_corr = sat_college_california_df.corr()
corr_color2 = sat_college_california_df_corr.style.background_gradient(cmap='coolwarm').set_precision(2).set_caption("Heat maps for SAT ACT scores and High School GPA correlation")
display(corr_color2)

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!